body,
html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid grey;
  padding: 50px;
}

.name {
  padding-bottom: 10px;
}

.gender {
  padding-bottom: 10px;
}

.height {
  padding-bottom: 10px;
}

.weight {
  padding-bottom: 30px;
}

button {
  margin-top: 40px;
}

li {
  font-size: 20px;
  color: red;
}
